Repository bmartensNL/Kubarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, frontend-lint

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd kubarr-rs && cargo fmt --check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix: use client-side navigation for dashboard links
  code/frontend/src/pages/Dashboard.tsx
Due: frontend-lint

feat: add account deletion and improve login UX
  code/backend/src/endpoints/users.rs
  code/frontend/src/App.tsx
  code/frontend/src/api/users.ts
  code/frontend/src/contexts/MonitoringContext.tsx
  code/frontend/src/pages/AccountPage.tsx
  code/frontend/src/pages/LoginPage.tsx
  code/frontend/src/utils/precache.ts
Due: cargo-fmt, frontend-lint

feat: add Playwright E2E test suite
  code/frontend/.gitignore
  code/frontend/package-lock.json
  code/frontend/package.json
  code/frontend/playwright.config.ts
  code/frontend/tests/account.spec.ts
  code/frontend/tests/auth.setup.ts
  code/frontend/tests/auth.spec.ts
  code/frontend/tests/dashboard.spec.ts
  code/frontend/vite.config.ts
Due: frontend-lint

test: add Playwright E2E tests for UI
  code/frontend/playwright.config.ts
  code/frontend/tests/01-auth.spec.ts
  code/frontend/tests/02-dashboard.spec.ts
  code/frontend/tests/03-settings.spec.ts
  code/frontend/tests/04-account.spec.ts
  code/frontend/tests/05-2fa.spec.ts
Due: frontend-lint

fix: add missing frontend exports and format backend tests
  code/backend/tests/db_tests.rs
  code/backend/tests/migration_tests.rs
  code/backend/tests/pool_tests.rs
  code/backend/tests/security_tests.rs
  code/frontend/src/App.tsx
  code/frontend/src/api/auth.ts
  code/frontend/src/components/AppIcon.tsx
  code/frontend/src/contexts/AuthContext.tsx
Due: cargo-fmt, frontend-lint

fix: update backend to use async db access and fix tests
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/database.rs
  code/backend/src/application/state.rs
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/settings.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/k8s.rs
  code/backend/tests/config_tests.rs
Due: cargo-fmt

fix: update endpoints to use async db access pattern
  code/backend/src/endpoints/audit.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/frontend.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/endpoints/vpn.rs
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/k8s.rs
Due: cargo-fmt

fix: resolve all clippy warnings and errors
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/database.rs
  code/backend/src/application/state.rs
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/frontend.rs
  code/backend/src/endpoints/logs.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/endpoints/storage.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/endpoints/vpn.rs
  code/backend/src/middleware/auth.rs
  code/backend/src/services/audit.rs
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/catalog.rs
  code/backend/src/services/deployment.rs
  code/backend/src/services/k8s.rs
  code/backend/src/services/notification/mod.rs
  code/backend/src/services/proxy.rs
  code/backend/tests/common/mod.rs
  code/backend/tests/security_tests.rs
  code/backend/tests/state_tests.rs
Due: cargo-fmt

fix: add SQLite support for test databases
  code/backend/Cargo.toml
Due: none

fix: prevent duplicate seed data in tests
  code/backend/tests/common/mod.rs
Due: cargo-fmt

style: format test code
  code/backend/tests/common/mod.rs
Due: cargo-fmt

fix: update migration tests for current schema
  code/backend/tests/migration_tests.rs
Due: cargo-fmt

fix: update tests for new schema and JWT initialization
  code/backend/tests/migration_tests.rs
  code/backend/tests/pool_tests.rs
  code/backend/tests/security_tests.rs
Due: cargo-fmt

chore: add auto-claude entries to .gitignore
  .gitignore
Due: none

auto-claude: subtask-1-1 - Create kind-remote-config.yaml template with apiServerAddress placeholder
  kind-remote-config.yaml
Due: none

auto-claude: subtask-2-1 - Create remote-server-setup.sh with SSH, Docker context, and Kind setup
  scripts/remote-server-setup.sh
Due: none

auto-claude: subtask-1-1 - Create ADR document with current architecture analysis
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-2-2 - Add shellcheck compliance and error handling refinement
  scripts/remote-server-setup.sh
Due: none

auto-claude: subtask-1-2 - Document identified performance issues and architectural limitations
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-3-1 - Add --remote flag to deploy.sh for remote Docker context support
  scripts/deploy.sh
Due: none

auto-claude: subtask-2-1 - Document Option A: Optimized PostgreSQL
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-4-1 - Update CLAUDE.md with remote build/deploy section
  CLAUDE.md
Due: none

auto-claude: subtask-4-2 - Document SSH MCP server configuration for Claude Code remote execution
  CLAUDE.md
Due: none

auto-claude: subtask-3-1 - Document Option B: SQLite + Litestream
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-4-1 - Document Option C: Hybrid Approach (SQLite + optional caching layer)
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-5-1 - Document caching strategy evaluation
  docs/adr/storage-model-architecture.md
Due: none

auto-claude: subtask-6-1 - Write Recommendation section with Option B pick, comparison matrix, quick wins, migration roadmap, SeaORM 2.0 note, and decision timeline
  docs/adr/storage-model-architecture.md
Due: none

Switch CI workflows to self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

auto-claude: subtask-7-1 - Verify technical accuracy of ADR
  docs/adr/storage-model-architecture.md
Due: none

Fix cargo fmt check: remove extra blank line
  code/backend/src/endpoints/frontend.rs
Due: cargo-fmt

Add workflow_dispatch trigger to CI
  .github/workflows/ci.yml
Due: none

Add E2E tests with Kind cluster to CI pipeline
  .github/workflows/ci.yml
Due: none

Build Docker images once, reuse in E2E tests
  .github/workflows/ci.yml
Due: none

Split CI into reusable workflow files
  .github/workflows/backend-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-check.yml
Due: none

Unified CI/CD pipeline with Docker-based tests
  .github/workflows/backend-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/frontend-check.yml
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
Due: none

Clean up workflows
  .github/workflows/backend-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-kind.yml.disabled
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-check.yml
Due: none

Use matrix strategy for parallel image builds
  .github/workflows/build-images.yml
Due: none

Fix E2E pod labels and service name
  .github/workflows/e2e-tests.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  frontend-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
