Repository bmartensNL/Kubarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, frontend-lint

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd kubarr-rs && cargo fmt --check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix: add ESLint config and fix React hooks violation
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/pages/NetworkingPage.tsx
Due: frontend-lint

ci: add Playwright E2E tests to CI workflow
  .github/workflows/ci.yml
Due: none

ci: add Kind-based E2E testing workflow
  .github/workflows/ci.yml
  .github/workflows/e2e-kind.yml
  .github/workflows/e2e.yml
Due: none

fix(ci): correct E2E workflow chart deployments
  .github/workflows/e2e-kind.yml
Due: none

perf(ci): use 4-core runner and parallel Docker builds
  .github/workflows/e2e-kind.yml
Due: none

fix(ci): revert to ubuntu-latest runner (4-core requires setup)
  .github/workflows/e2e-kind.yml
Due: none

fix(ci): let Helm manage oauth2-proxy secret + add Docker publishing
  .github/workflows/docker-publish.yml
  .github/workflows/e2e-kind.yml
Due: none

fix(ci): call setup API via port-forward instead of kubectl exec
  .github/workflows/e2e-kind.yml
Due: none

fix(ci): reduce retries and add login verification step
  .dockerignore
  .github/workflows/e2e-kind.yml
  playwright.config.ts
Due: frontend-lint

fix(e2e): add debugging to login flow and improve verification
  .github/workflows/e2e-kind.yml
  e2e/fixtures.ts
Due: frontend-lint

fix(ci): fix syntax error in verification script (extra quote)
  .github/workflows/e2e-kind.yml
Due: none

fix(ci): increase E2E timeout to 60 min and disable retries
  .github/workflows/e2e-kind.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.ts
  frontend/src/api/networking.ts
  frontend/src/api/roles.ts
  frontend/src/api/users.ts
  frontend/src/pages/AccountPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NetworkingPage.tsx
  kubarr-rs/Cargo.toml
  kubarr-rs/src/api/auth.rs
  kubarr-rs/src/api/networking.rs
  kubarr-rs/src/api/roles.rs
  kubarr-rs/src/api/users.rs
  kubarr-rs/src/db/entities/mod.rs
  kubarr-rs/src/db/entities/pending_2fa_challenge.rs
  kubarr-rs/src/db/entities/role.rs
  kubarr-rs/src/db/entities/user.rs
  kubarr-rs/src/db/pool.rs
  kubarr-rs/src/services/security.rs
  playwright.config.ts
Due: cargo-fmt, frontend-lint

style: run cargo fmt on Rust code
  kubarr-rs/src/api/auth.rs
  kubarr-rs/src/api/networking.rs
  kubarr-rs/src/api/users.rs
  kubarr-rs/src/db/pool.rs
  kubarr-rs/src/services/security.rs
Due: cargo-fmt

refactor: clean up unused imports and dead code across multiple files
  kubarr-rs/Cargo.lock
  kubarr-rs/src/api/apps.rs
  kubarr-rs/src/api/auth.rs
  kubarr-rs/src/api/extractors.rs
  kubarr-rs/src/api/networking.rs
  kubarr-rs/src/api/roles.rs
  kubarr-rs/src/api/settings.rs
  kubarr-rs/src/config.rs
  kubarr-rs/src/db/entities/mod.rs
  kubarr-rs/src/db/mod.rs
  kubarr-rs/src/db/models.rs
  kubarr-rs/src/db/pool.rs
  kubarr-rs/src/error.rs
  kubarr-rs/src/services/audit.rs
  kubarr-rs/src/services/catalog.rs
  kubarr-rs/src/services/deployment.rs
  kubarr-rs/src/services/k8s.rs
  kubarr-rs/src/services/notification/messagebird.rs
  kubarr-rs/src/services/notification/mod.rs
  kubarr-rs/src/services/notification/telegram.rs
  kubarr-rs/src/services/oauth2.rs
  kubarr-rs/src/services/security.rs
Due: cargo-fmt

chore: remove unused Dockerfiles and Nginx configuration files
  docker/Dockerfile.caddy
  docker/Dockerfile.nginx
  docker/nginx-frontend.conf
  docker/nginx.conf
Due: none

Refactor security tests and add new database schema for 2FA and notifications
  code/backend/src/lib.rs
  code/backend/src/main.rs
  code/backend/src/services/catalog.rs
  code/backend/src/services/security.rs
  code/backend/src/test_helpers.rs
  code/backend/tests/catalog_tests.rs
  code/backend/tests/db_tests.rs
  code/backend/tests/security_tests.rs
Due: cargo-fmt

feat: add models for audit logs, invites, notifications, OAuth2, roles, and user management
  code/backend/src/db/models.rs
  code/backend/src/models/audit_log.rs
  code/backend/src/models/invite.rs
  code/backend/src/models/mod.rs
  code/backend/src/models/notification_channel.rs
  code/backend/src/models/notification_event.rs
  code/backend/src/models/notification_log.rs
  code/backend/src/models/oauth2_authorization_code.rs
  code/backend/src/models/oauth2_client.rs
  code/backend/src/models/oauth2_token.rs
  code/backend/src/models/oauth_account.rs
  code/backend/src/models/oauth_provider.rs
  code/backend/src/models/pending_2fa_challenge.rs
  code/backend/src/models/role.rs
  code/backend/src/models/role_app_permission.rs
  code/backend/src/models/role_permission.rs
  code/backend/src/models/system_setting.rs
  code/backend/src/models/user.rs
  code/backend/src/models/user_notification.rs
  code/backend/src/models/user_notification_pref.rs
  code/backend/src/models/user_preferences.rs
  code/backend/src/models/user_role.rs
Due: cargo-fmt

refactor: migrate from db::entities to models for consistency across the codebase
  code/backend/src/api/apps.rs
  code/backend/src/api/auth.rs
  code/backend/src/api/extractors.rs
  code/backend/src/api/notifications.rs
  code/backend/src/api/oauth.rs
  code/backend/src/api/roles.rs
  code/backend/src/api/settings.rs
  code/backend/src/api/setup.rs
  code/backend/src/api/storage.rs
  code/backend/src/api/users.rs
  code/backend/src/db/mod.rs
  code/backend/src/db/pool.rs
  code/backend/src/lib.rs
  code/backend/src/schemas/invite.rs
  code/backend/src/schemas/mod.rs
  code/backend/src/schemas/preferences.rs
  code/backend/src/schemas/role.rs
  code/backend/src/schemas/settings.rs
  code/backend/src/schemas/user.rs
  code/backend/src/services/audit.rs
  code/backend/src/services/notification/mod.rs
  code/backend/src/services/oauth2.rs
  code/backend/src/test_helpers.rs
  code/backend/tests/db_tests.rs
Due: cargo-fmt

chore: remove obsolete login template and configuration file
  code/backend/askama.toml
  code/backend/src/templates/login.html
Due: none

feat(migrations): add initial schema migration and migration manager
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/db/pool.rs
  code/backend/src/lib.rs
  code/backend/src/migrations/m20250101_000001_initial_schema.rs
  code/backend/src/migrations/mod.rs
  code/backend/src/test_helpers.rs
Due: cargo-fmt

refactor: remove frontend build stage from Dockerfile and adjust backend build process
  code/frontend/package-lock.json
  docker/Dockerfile.backend
Due: none

feat(migrations): add user notification preferences, notification logs, and user notifications tables
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/migrations/m20250101_000001_initial_schema.rs
  code/backend/src/migrations/m20260127_000001_create_users.rs
  code/backend/src/migrations/m20260127_000002_create_roles.rs
  code/backend/src/migrations/m20260127_000003_create_user_roles.rs
  code/backend/src/migrations/m20260127_000004_create_role_app_permissions.rs
  code/backend/src/migrations/m20260127_000005_create_role_permissions.rs
  code/backend/src/migrations/m20260127_000006_create_oauth2_clients.rs
  code/backend/src/migrations/m20260127_000007_create_oauth2_authorization_codes.rs
  code/backend/src/migrations/m20260127_000008_create_oauth2_tokens.rs
  code/backend/src/migrations/m20260127_000009_create_oauth_accounts.rs
  code/backend/src/migrations/m20260127_000010_create_oauth_providers.rs
  code/backend/src/migrations/m20260127_000011_create_pending_2fa_challenges.rs
  code/backend/src/migrations/m20260127_000012_create_system_settings.rs
  code/backend/src/migrations/m20260127_000013_create_user_preferences.rs
  code/backend/src/migrations/m20260127_000014_create_invites.rs
  code/backend/src/migrations/m20260127_000015_create_audit_logs.rs
  code/backend/src/migrations/m20260127_000016_create_notification_channels.rs
  code/backend/src/migrations/m20260127_000017_create_notification_events.rs
  code/backend/src/migrations/m20260127_000018_create_user_notification_prefs.rs
  code/backend/src/migrations/m20260127_000019_create_notification_logs.rs
  code/backend/src/migrations/m20260127_000020_create_user_notifications.rs
  code/backend/src/migrations/mod.rs
  code/backend/tests/migration_tests.rs
Due: cargo-fmt

feat(tests): add comprehensive tests for configuration, error handling, extractors, OAuth2, database pool, and application state
  code/backend/src/api/extractors.rs
  code/backend/src/config.rs
  code/backend/src/db/pool.rs
  code/backend/src/error.rs
  code/backend/src/services/oauth2.rs
  code/backend/src/state.rs
  code/backend/src/test_helpers.rs
  code/backend/tests/config_tests.rs
  code/backend/tests/error_tests.rs
  code/backend/tests/extractors_tests.rs
  code/backend/tests/oauth2_tests.rs
  code/backend/tests/pool_tests.rs
  code/backend/tests/state_tests.rs
Due: cargo-fmt

Refactor application structure and enhance configuration management
  code/backend/src/api/auth.rs
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/config.rs
  code/backend/src/application/error.rs
  code/backend/src/application/mod.rs
  code/backend/src/application/pool.rs
  code/backend/src/application/state.rs
  code/backend/src/db/mod.rs
  code/backend/src/lib.rs
  code/backend/src/main.rs
  code/backend/src/services/audit.rs
  code/backend/tests/common/mod.rs
  code/backend/tests/config_tests.rs
  code/backend/tests/db_tests.rs
  code/backend/tests/extractors_tests.rs
  code/backend/tests/oauth2_tests.rs
  code/backend/tests/pool_tests.rs
  code/backend/tests/state_tests.rs
Due: cargo-fmt

Refactor authentication handling in API routes
  claude.md
  code/backend/src/api/apps.rs
  code/backend/src/api/audit.rs
  code/backend/src/api/auth.rs
  code/backend/src/api/extractors.rs
  code/backend/src/api/logs.rs
  code/backend/src/api/middleware.rs
  code/backend/src/api/mod.rs
  code/backend/src/api/monitoring.rs
  code/backend/src/api/networking.rs
  code/backend/src/api/notifications.rs
  code/backend/src/api/oauth.rs
  code/backend/src/api/roles.rs
  code/backend/src/api/settings.rs
  code/backend/src/api/storage.rs
  code/backend/src/api/users.rs
Due: cargo-fmt

feat: Implement user management endpoints and authentication middleware
  .github/workflows/e2e-kind.yml.disabled
  code/backend/src/application/bootstrapper.rs
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/audit.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/extractors.rs
  code/backend/src/endpoints/logs.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/monitoring.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/settings.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/endpoints/storage.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/lib.rs
  code/backend/src/middleware/auth.rs
  code/backend/src/middleware/mod.rs
  code/backend/src/services/oauth2.rs
  code/backend/tests/extractors_tests.rs
Due: cargo-fmt

Refactor authentication and authorization system
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/audit.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/extractors.rs
  code/backend/src/endpoints/logs.rs
  code/backend/src/endpoints/monitoring.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/settings.rs
  code/backend/src/endpoints/storage.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/middleware/auth.rs
  code/backend/src/middleware/mod.rs
  code/backend/src/middleware/permissions.rs
Due: cargo-fmt

refactor: streamline Docker publish workflow with matrix strategy
  .github/workflows/docker-publish.yml
Due: none

refactor: remove nginx image from Docker publish workflow
  .github/workflows/docker-publish.yml
Due: none

refactor: streamline authentication and authorization handling in middleware and endpoints
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/extractors.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/storage.rs
  code/backend/src/middleware/auth.rs
  code/backend/src/services/audit.rs
  code/backend/tests/extractors_tests.rs
Due: cargo-fmt

feat(migrations): add tables for OAuth accounts, providers, and user preferences
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/application/error.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/middleware/auth.rs
  code/backend/src/middleware/permissions.rs
  code/backend/src/migrations/m20260127_000006_create_oauth2_clients.rs
  code/backend/src/migrations/m20260127_000006_create_oauth_accounts.rs
  code/backend/src/migrations/m20260127_000007_create_oauth2_authorization_codes.rs
  code/backend/src/migrations/m20260127_000007_create_oauth_providers.rs
  code/backend/src/migrations/m20260127_000008_create_oauth2_tokens.rs
  code/backend/src/migrations/m20260127_000008_create_pending_2fa_challenges.rs
  code/backend/src/migrations/m20260127_000009_create_system_settings.rs
  code/backend/src/migrations/m20260127_000010_create_user_preferences.rs
  code/backend/src/migrations/m20260127_000011_create_invites.rs
  code/backend/src/migrations/m20260127_000012_create_audit_logs.rs
  code/backend/src/migrations/m20260127_000013_create_notification_channels.rs
  code/backend/src/migrations/m20260127_000014_create_notification_events.rs
  code/backend/src/migrations/m20260127_000015_create_user_notification_prefs.rs
  code/backend/src/migrations/m20260127_000016_create_notification_logs.rs
  code/backend/src/migrations/m20260127_000017_create_user_notifications.rs
  code/backend/src/migrations/mod.rs
  code/backend/src/models/mod.rs
  code/backend/src/models/oauth2_authorization_code.rs
  code/backend/src/models/oauth2_client.rs
  code/backend/src/models/oauth2_token.rs
  code/backend/src/models/user.rs
  code/backend/src/services/k8s.rs
  code/backend/src/services/mod.rs
  code/backend/src/services/oauth2.rs
  code/backend/src/services/proxy.rs
  code/backend/src/services/security.rs
  code/backend/tests/oauth2_tests.rs
Due: cargo-fmt

Refactor: Remove oauth2-proxy Helm chart and associated templates
  charts/README.md
  charts/nginx/Chart.yaml
  charts/nginx/icon.svg
  charts/nginx/templates/_helpers.tpl
  charts/nginx/templates/configmap-njs.yaml
  charts/nginx/templates/configmap.yaml
  charts/nginx/templates/deployment.yaml
  charts/nginx/templates/namespace.yaml
  charts/nginx/templates/networkpolicy.yaml
  charts/nginx/templates/service.yaml
  charts/nginx/values.yaml
  charts/oauth2-proxy/.helmignore
  charts/oauth2-proxy/Chart.yaml
  charts/oauth2-proxy/NOTES.txt
  charts/oauth2-proxy/README.md
  charts/oauth2-proxy/icon.svg
  charts/oauth2-proxy/templates/_helpers.tpl
  charts/oauth2-proxy/templates/configmap.yaml
  charts/oauth2-proxy/templates/deployment.yaml
  charts/oauth2-proxy/templates/namespace.yaml
  charts/oauth2-proxy/templates/networkpolicy.yaml
  charts/oauth2-proxy/templates/secret.yaml
  charts/oauth2-proxy/templates/service.yaml
  charts/oauth2-proxy/templates/serviceaccount.yaml
  charts/oauth2-proxy/values-example.yaml
  charts/oauth2-proxy/values.yaml
  charts/traefik/Chart.yaml
  charts/traefik/templates/configmap.yaml
  charts/traefik/templates/deployment-forward-auth.yaml
  charts/traefik/templates/deployment-traefik.yaml
  charts/traefik/templates/ingressroutes.yaml
  charts/traefik/templates/namespace.yaml
  charts/traefik/templates/networkpolicy.yaml
  charts/traefik/templates/rbac.yaml
  charts/traefik/templates/service.yaml
  charts/traefik/values.yaml
  code/backend/Dockerfile
  code/backend/src/endpoints/mod.rs
  scripts/local-k8s-setup.sh
Due: cargo-fmt

refactor: rename pool.rs to database.rs and move seeding to migration
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/database.rs
  code/backend/src/application/mod.rs
  code/backend/src/application/pool.rs
  code/backend/src/lib.rs
  code/backend/src/migrations/m20260128_000002_seed_defaults.rs
  code/backend/src/migrations/mod.rs
Due: cargo-fmt

refactor: store JWT keys in database instead of files
  charts/kubarr/templates/deployment.yaml
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/config.rs
  code/backend/src/services/security.rs
Due: cargo-fmt

fix: exclude hidden apps from installed apps count
  charts/kubarr/values.yaml
  code/backend/src/endpoints/apps.rs
  code/backend/src/services/deployment.rs
Due: cargo-fmt

feat: 4-step setup wizard with bootstrap and app error page
  code/backend/src/application/state.rs
  code/backend/src/endpoints/frontend.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/migrations/m20260129_000001_create_bootstrap_status.rs
  code/backend/src/migrations/mod.rs
  code/backend/src/models/bootstrap_status.rs
  code/backend/src/models/mod.rs
  code/backend/src/models/server_config.rs
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/deployment.rs
  code/backend/src/services/mod.rs
  code/frontend/src/App.tsx
  code/frontend/src/api/setup.ts
  code/frontend/src/components/setup/BootstrapStep.tsx
  code/frontend/src/components/setup/ServerStep.tsx
  code/frontend/src/contexts/AuthContext.tsx
  code/frontend/src/hooks/useBootstrapWs.ts
  code/frontend/src/pages/AppErrorPage.tsx
  code/frontend/src/pages/LoginPage.tsx
  code/frontend/src/pages/SetupPage.tsx
Due: cargo-fmt, frontend-lint

Path conditions:
  cargo-fmt: any of: \.rs$
  frontend-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
