Repository bmartensNL/Kubarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, frontend-lint

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd kubarr-rs && cargo fmt --check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Fix reqwest TLS provider and Axum route parameter syntax
  code/backend/Cargo.toml
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/endpoints/users.rs
Due: cargo-fmt

Fix jsonwebtoken crypto provider panic
  code/backend/Cargo.toml
Due: none

Fix Tailwind v4 dark mode and card gradient colors
  code/backend/src/application/bootstrapper.rs
  code/frontend/src/index.css
  code/frontend/src/pages/Dashboard.tsx
  code/frontend/src/pages/MonitoringPage.tsx
Due: cargo-fmt, frontend-lint

Move mkdocs.yml and .hadolint.yaml into their respective directories
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  docker/.hadolint.yaml
  docs/mkdocs.yml
Due: none

docs: add Docker documentation
  docs/docker.md
  docs/mkdocs.yml
Due: none

Add setup directory browser and fix cargo fmt
  code/backend/Cargo.lock
  code/backend/src/application/config/charts.rs
  code/backend/src/application/database.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/services/chart_sync.rs
  code/backend/src/services/scheduler.rs
  code/frontend/src/api/setup.ts
  code/frontend/src/components/setup/DirectoryPicker.tsx
  code/frontend/src/components/setup/ServerStep.tsx
Due: cargo-fmt, frontend-lint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Fix rand 0.10 API compatibility
  code/backend/Cargo.toml
  code/backend/src/services/security.rs
Due: cargo-fmt

Fix default OCI charts registry to match kubarr-charts repo
  code/backend/src/application/config/charts.rs
Due: cargo-fmt

Replace CloudNativePG with plain PostgreSQL StatefulSet
  .github/workflows/e2e-tests.yml
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/k8s.rs
Due: cargo-fmt

Add versioning system with release channels
  .github/workflows/build.yml
  README.md
  code/backend/src/application/config/mod.rs
  code/backend/src/endpoints/mod.rs
  code/frontend/src/components/VersionFooter.tsx
  code/frontend/src/vite-env.d.ts
  code/frontend/vite.config.ts
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
  docs/versioning.md
  scripts/deploy.sh
  scripts/version-bump.sh
Due: cargo-fmt, frontend-lint

Add versioning system with release channels (#22)
  .github/workflows/build.yml
  README.md
  code/backend/src/application/config/mod.rs
  code/backend/src/endpoints/mod.rs
  code/frontend/src/components/VersionFooter.tsx
  code/frontend/src/vite-env.d.ts
  code/frontend/vite.config.ts
  docker/Dockerfile.backend
  docker/Dockerfile.frontend
  docs/versioning.md
  scripts/deploy.sh
  scripts/version-bump.sh
Due: cargo-fmt, frontend-lint

Add versioning to documentation website
  .github/workflows/build.yml
  docs/hooks/version_info.py
  docs/index.md
  docs/mkdocs.yml
Due: none

Add versioning to documentation website (#23)
  .github/workflows/build.yml
  docs/hooks/version_info.py
  docs/index.md
  docs/mkdocs.yml
Due: none

feat: improve bootstrap reliability and expand test coverage
  .github/VERSIONING_SETUP.md
  .gitignore
  code/backend/Dockerfile
  code/backend/SECURITY.md
  code/backend/src/services/bootstrap.rs
  code/frontend/tests/01-auth.spec.ts
  code/frontend/tests/02-dashboard.spec.ts
  code/frontend/tests/03-settings.spec.ts
  code/frontend/tests/04-account.spec.ts
  code/frontend/tests/06-apps.spec.ts
  code/frontend/tests/07-storage.spec.ts
  code/frontend/tests/08-resources.spec.ts
  code/frontend/tests/09-networking.spec.ts
  code/frontend/tests/10-logs.spec.ts
  code/frontend/tests/11-security.spec.ts
  code/frontend/tests/12-navigation.spec.ts
  code/frontend/tests/13-error-pages.spec.ts
Due: cargo-fmt, frontend-lint

fix: remove unused assignment in bootstrap retry logic
  code/backend/src/services/bootstrap.rs
Due: cargo-fmt

fix: allow warnings in frontend lint to unblock CI
  code/frontend/package.json
Due: none

feat: add pre-commit hooks for code quality
  README.md
  docs/development.md
  docs/mkdocs.yml
  scripts/install-hooks.sh
Due: none

fix: prefix unused variables with underscore in tests
  code/frontend/tests/04-account.spec.ts
  code/frontend/tests/08-resources.spec.ts
Due: frontend-lint

fix: correct broken links in development.md
  docs/development.md
Due: none

feat: rewrite README to focus on features and benefits
  README.md
Due: none

Add pre-commit hooks for code quality (#25)
  README.md
  docs/development.md
  docs/mkdocs.yml
  scripts/install-hooks.sh
Due: none

Improve bootstrap reliability and expand test coverage (#24)
  .github/VERSIONING_SETUP.md
  .gitignore
  code/backend/Dockerfile
  code/backend/SECURITY.md
  code/backend/src/services/bootstrap.rs
  code/frontend/package.json
  code/frontend/tests/01-auth.spec.ts
  code/frontend/tests/02-dashboard.spec.ts
  code/frontend/tests/03-settings.spec.ts
  code/frontend/tests/04-account.spec.ts
  code/frontend/tests/06-apps.spec.ts
  code/frontend/tests/07-storage.spec.ts
  code/frontend/tests/08-resources.spec.ts
  code/frontend/tests/09-networking.spec.ts
  code/frontend/tests/10-logs.spec.ts
  code/frontend/tests/11-security.spec.ts
  code/frontend/tests/12-navigation.spec.ts
  code/frontend/tests/13-error-pages.spec.ts
Due: cargo-fmt, frontend-lint

feat: revise README to focus on media server management
  README.md
  docs/screenshots/dashboard.png
Due: none

feat: add real application screenshots
  docs/screenshots/catalog.png
  docs/screenshots/dashboard.png
  docs/screenshots/logs.png
  docs/screenshots/monitoring.png
Due: none

feat: replace screenshots with demo video
  README.md
  docs/kubarr-demo.webm
Due: none

fix: record demo video in dark theme
  docs/kubarr-demo.webm
Due: none

feat: improve demo video with more pages and faster pacing
  docs/kubarr-demo.webm
Due: none

feat: final demo video with proper dark theme
  docs/kubarr-demo.webm
Due: none

fix: remove canvas and gifencoder dependencies
  code/frontend/package-lock.json
  code/frontend/package.json
Due: none

feat: add one-line installation with k3s bundling
  README.md
  install.sh
  uninstall.sh
Due: none

feat: add one-line installation with k3s bundling (#27)
  README.md
  install.sh
  uninstall.sh
Due: none

fix: grant Claude Code Action write permissions for PRs and issues
  .github/workflows/claude.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  frontend-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
