Repository bmartensNL/Kubarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd kubarr-rs && cargo fmt --check'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd kubarr-rs && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]  # Only run manually, not on every commit (too slow)

  # Frontend linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Fix E2E tests: relax probes, add retry logic, improve debugging
  .github/workflows/e2e-tests.yml
Due: none

Fix E2E tests: deploy PostgreSQL and follow proper setup flow
  .github/workflows/e2e-tests.yml
Due: none

Have bootstrap install CNPG operator and let Playwright drive setup wizard
  .github/workflows/e2e-tests.yml
  charts/cnpg-operator/Chart.lock
  charts/cnpg-operator/Chart.yaml
  charts/cnpg-operator/charts/cloudnative-pg-0.23.0.tgz
  charts/cnpg-operator/values.yaml
  charts/kubarr/templates/networkpolicy.yaml
  code/backend/src/services/bootstrap.rs
  code/frontend/playwright.config.ts
  code/frontend/tests/auth.setup.ts
  code/frontend/tests/bootstrap.setup.ts
Due: cargo-fmt, frontend-lint

auto-claude: subtask-1-3 - Audit all endpoint modules for route definitions
  code/backend/tests/auth_enforcement_tests.rs
  node_modules
Due: cargo-fmt

auto-claude: subtask-3-1 - Create auth enforcement integration test suite
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/tests/auth_enforcement_tests.rs
Due: cargo-fmt

Add Selenium WebDriver dependency
  package-lock.json
  package.json
Due: none

auto-claude: subtask-4-1 - Create SECURITY.md with auth architecture and endp
  code/backend/SECURITY.md
Due: none

fix: add self-disabling protection to bootstrap endpoints (qa-requested)
  code/backend/src/endpoints/setup.rs
  code/backend/tests/auth_enforcement_tests.rs
Due: cargo-fmt

auto-claude: subtask-1-1 - Create README.md with project overview, features, and quick start
  README.md
Due: none

auto-claude: subtask-1-2 - Create CONTRIBUTING.md with development setup and PR guidelines
  CONTRIBUTING.md
Due: none

auto-claude: subtask-1-3 - Create docs/INSTALLATION.md with detailed deployme
  docs/INSTALLATION.md
Due: none

auto-claude: subtask-1-4 - Create docs/CONFIGURATION.md with environment vari
  docs/CONFIGURATION.md
Due: none

auto-claude: subtask-1-5 - Create docs/QUICK_START.md with 15-minute deployment guide
  docs/QUICK_START.md
Due: none

auto-claude: subtask-1-1 - Add test_vpn_connection service function to create Gluetun test pod
  code/backend/src/services/vpn.rs
Due: cargo-fmt

auto-claude: subtask-1-6 - Add documentation screenshots placeholders and notes
  README.md
  docs/screenshots/README.md
Due: none

auto-claude: subtask-1-2 - Query Gluetun API for public IP and verify connection
  code/backend/src/services/vpn.rs
Due: cargo-fmt

auto-claude: subtask-1-3 - Implement test pod cleanup with error handling
  code/backend/src/services/vpn.rs
Due: cargo-fmt

auto-claude: subtask-1-4 - Define VpnTestResult response type and update test_provider endpoint
  code/backend/src/endpoints/vpn.rs
Due: cargo-fmt

fix: Address QA issues - resolve documentation link issues and case mismatches (qa-requested)
  README.md
  docs/api.md
  docs/architecture.md
  docs/configuration.md
  docs/installation.md
  docs/quick-start.md
  docs/screenshots/readme.md
  docs/user-guide.md
Due: none

auto-claude: subtask-1-5 - Add unit tests for VPN test service
  code/backend/tests/vpn_test_tests.rs
Due: cargo-fmt

fix: rename screenshot readme to uppercase for case-sensitivity (qa-requested)
  docs/screenshots/README.md
Due: none

fix: implement test_provider endpoint to call vpn test service (qa-requested)
  code/backend/src/endpoints/vpn.rs
Due: cargo-fmt

auto-claude: subtask-1-1 - Fix .dockerignore exclusions and paths
  .dockerignore
Due: none

auto-claude: subtask-2-1 - Fix Dockerfile.backend test stage: add cargo build
  docker/Dockerfile.backend
Due: none

auto-claude: subtask-3-1 - Fix build-images.yml: add DOCKER_BUILDKIT=1 environment variable
  .github/workflows/build-images.yml
Due: none

auto-claude: subtask-3-2 - Add image verification and runner assumption docs
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-check.yml
Due: none

auto-claude: subtask-3-3 - Fix ci.yml: add secrets: inherit to publish job
  .github/workflows/ci.yml
Due: none

auto-claude: subtask-3-4 - Improve docker-publish.yml with Buildx caching and fixes
  .github/workflows/docker-publish.yml
Due: none

fix: remove charts/ from .dockerignore and use dev profile for test stage (qa-requested)
  .dockerignore
  docker/Dockerfile.backend
Due: none

auto-claude: subtask-1-1 - Fix cargo fmt violations in setup.rs and vpn.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/services/vpn.rs
Due: cargo-fmt

auto-claude: subtask-2-1 - Pin Kind node image to v1.31.0 in e2e-tests.yml
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): add retry logic, pre-cleanup, and stable Kind node image
  .github/workflows/e2e-tests.yml
Due: none

fix(helm): add cluster-scope RBAC for CNPG operator installation
  charts/kubarr/values.yaml
Due: none

fix(e2e): update bootstrap test selectors to match actual UI
  code/frontend/tests/bootstrap.setup.ts
Due: frontend-lint

fix(e2e): fix server config step transition in bootstrap test
  code/frontend/tests/bootstrap.setup.ts
Due: frontend-lint

refactor: remove all oauth2-proxy references
  charts/fluent-bit/values.yaml
  charts/grafana/values.yaml
  charts/kubarr/templates/ingress-unified.yaml
  charts/kubarr/templates/networkpolicy.yaml
  charts/kubernetes-dashboard/values.yaml
  charts/qbittorrent/values.yaml
  charts/radarr/templates/deployment.yaml
  charts/sonarr/templates/deployment.yaml
  charts/transmission/templates/deployment.yaml
  code/frontend/src/components/auth/AdminRoute.tsx
  code/frontend/src/components/auth/ProtectedRoute.tsx
  code/frontend/src/pages/LoginPage.tsx
Due: frontend-lint

refactor: remove nginx ingress controller and all ingress configuration
  README.md
  charts/deluge/templates/ingress.yaml
  charts/deluge/values.yaml
  charts/fluent-bit/values.yaml
  charts/grafana/values.yaml
  charts/jackett/values.yaml
  charts/jellyfin/values.yaml
  charts/jellyseerr/values.yaml
  charts/kubarr/README.md
  charts/kubarr/templates/NOTES.txt
  charts/kubarr/templates/ingress-unified.yaml
  charts/kubarr/templates/ingress.yaml
  charts/kubarr/templates/networkpolicy.yaml
  charts/kubarr/values.yaml
  charts/kubernetes-dashboard/templates/networkpolicy.yaml
  charts/kubernetes-dashboard/values.yaml
  charts/plex/values.yaml
  charts/qbittorrent/README.md
  charts/qbittorrent/templates/ingress.yaml
  charts/qbittorrent/values.yaml
  charts/radarr/values.yaml
  charts/rutorrent/templates/ingress.yaml
  charts/rutorrent/values.yaml
  charts/sabnzbd/values.yaml
  charts/sonarr/templates/networkpolicy.yaml
  charts/sonarr/values.yaml
  charts/transmission/templates/ingress.yaml
  charts/transmission/values.yaml
  code/backend/SECURITY.md
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/roles.rs
  docker/Dockerfile.frontend
  docs/configuration.md
  docs/installation.md
  docs/quick-start.md
Due: cargo-fmt

fix(e2e): fix test failures, remove slow app tests, enable parallel workers
  code/frontend/playwright.config.ts
  code/frontend/tests/01-auth.spec.ts
  code/frontend/tests/06-apps.spec.ts
  code/frontend/tests/07-app-proxy.spec.ts
  code/frontend/tests/bootstrap.setup.ts
Due: frontend-lint

feat(ui): replace app detail modal with side panel, redesign navbar
  code/frontend/src/App.tsx
  code/frontend/src/pages/AppsPage.tsx
Due: frontend-lint
