Repository bmartensNL/Kubarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd kubarr-rs && cargo fmt --check'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd kubarr-rs && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]  # Only run manually, not on every commit (too slow)

  # Frontend linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

fix: prevent incorrect setup redirect when database is not yet ready
  code/backend/src/endpoints/setup.rs
  code/frontend/src/App.tsx
  code/frontend/src/api/setup.ts
Due: cargo-fmt, frontend-lint

feat: add dynamic OpenAPI 3.1 spec and Swagger UI via utoipa
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/audit.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/logs.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/monitoring.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/settings.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/endpoints/storage.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/endpoints/vpn.rs
  code/backend/src/models/audit_log.rs
  code/backend/src/models/vpn_provider.rs
  code/backend/src/services/audit.rs
  code/backend/src/services/bootstrap.rs
  code/backend/src/services/catalog.rs
  code/backend/src/services/k8s.rs
  code/backend/src/services/vpn.rs
Due: cargo-fmt

feat(ci): add Helm chart publishing to GitHub OCI registry
  .github/workflows/ci.yml
  .github/workflows/helm-publish.yml
Due: none

fix(ci): resolve cargo fmt and e2e test failures
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/monitoring.rs
  code/backend/src/endpoints/vpn.rs
  code/backend/src/models/vpn_provider.rs
  code/backend/src/services/deployment.rs
  code/frontend/tests/01-auth.spec.ts
  code/frontend/tests/02-dashboard.spec.ts
Due: cargo-fmt, frontend-lint

feat: add MkDocs Material docs site with GitHub Pages deployment
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/adr/index.md
  docs/index.md
  docs/installation.md
  docs/quick-start.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

fix(docs): remove broken links to deleted installation.md and out-of-tree files
  docs/architecture.md
  docs/configuration.md
  docs/index.md
  docs/quick-start.md
  docs/user-guide.md
Due: none

fix(ci): remove invalid docs reusable workflow call
  .github/workflows/ci.yml
Due: none

feat(ci): add docs build check to CI pipeline
  .github/workflows/ci.yml
Due: none

refactor(ci): group jobs into build, testing, publish
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/testing.yml
Due: none

refactor(ci): reorganize into build, testing, publish groups
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/testing.yml
Due: none

feat(ci): add check stage with linting for Rust, frontend, Helm, Dockerfiles
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

fix: resolve check stage lint failures
  .hadolint.yaml
  code/backend/tests/auth_enforcement_tests.rs
  code/backend/tests/vpn_test_tests.rs
  docker/Dockerfile.backend
Due: cargo-fmt

fix: apply cargo fmt to auth_enforcement_tests.rs
  code/backend/tests/auth_enforcement_tests.rs
Due: cargo-fmt

refactor(ci): rename check → lint, testing → test
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/testing.yml
Due: none

refactor(ci): test stage has backend and frontend, remove redundant lint
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-check.yml
  .github/workflows/testing.yml
Due: none

feat(frontend): add Vitest + React Testing Library with 18 unit tests
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/frontend-check.yml
  .github/workflows/test.yml
  .github/workflows/testing.yml
  code/frontend/package-lock.json
  code/frontend/package.json
  code/frontend/src/api/__tests__/auth.test.ts
  code/frontend/src/api/__tests__/client.test.ts
  code/frontend/src/api/__tests__/users.test.ts
  code/frontend/src/components/auth/__tests__/ProtectedRoute.test.tsx
  code/frontend/src/contexts/__tests__/AuthContext.test.tsx
  code/frontend/src/contexts/__tests__/ThemeContext.test.tsx
  code/frontend/src/test/helpers.tsx
  code/frontend/src/test/setup.ts
  code/frontend/src/utils/__tests__/accounts.test.ts
  code/frontend/tsconfig.json
  code/frontend/vitest.config.ts
Due: frontend-lint

cleaning up
  CONTRIBUTING.md
  kind-remote-config.yaml
  node_modules
  package-lock.json
  package.json
Due: none

refactor(ci): inline build-images.yml into build.yml
  .github/workflows/build-images.yml
  .github/workflows/build.yml
Due: none

refactor(ci): inline tests into build, publish pre-built images via artifacts
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

refactor(ci): separate test stage using image artifacts
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

rename
  .github/workflows/docker-publish.yml
Due: none

refactor(ci): inline docker-publish and helm-publish into publish.yml
  .github/workflows/docker-publish.yml
  .github/workflows/helm-publish.yml
  .github/workflows/publish.yml
Due: none

fix(ci): lowercase OCI references in publish workflow
  .github/workflows/publish.yml
Due: none

fix(ci): push all docker tags at once to avoid auth failures
  .github/workflows/publish.yml
Due: none

ci: add Dependabot config for cargo, npm, docker, and github-actions
  .github/dependabot.yml
Due: none

ci: ignore breaking major version bumps in Dependabot
  .github/dependabot.yml
Due: none

build(deps): bump kube to 3.0 and k8s-openapi to 0.27
  code/backend/Cargo.lock
  code/backend/Cargo.toml
Due: none

fix: migrate k8s timestamp handling from chrono to jiff
  code/backend/Cargo.lock
  code/backend/Cargo.toml
  code/backend/src/services/k8s.rs
Due: cargo-fmt

fix: use duration_since for jiff::Timestamp age calculation
  code/backend/src/services/k8s.rs
Due: cargo-fmt

fix: resolve build failures from dependency bumps
  code/backend/Cargo.toml
  code/backend/src/middleware/permissions.rs
  code/frontend/.eslintrc.cjs
  code/frontend/eslint.config.js
  code/frontend/package.json
Due: cargo-fmt, frontend-lint

fix: resolve remaining build failures from dependency bumps
  code/backend/Cargo.toml
  code/backend/src/middleware/permissions.rs
  code/frontend/eslint.config.js
Due: cargo-fmt, frontend-lint

fix: complete dependency migration for axum 0.8, tungstenite 0.28, rand 0.9
  code/backend/Cargo.toml
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/logs.rs
  code/backend/src/endpoints/monitoring.rs
  code/backend/src/endpoints/networking.rs
  code/backend/src/endpoints/notifications.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/roles.rs
  code/backend/src/endpoints/settings.rs
  code/backend/src/endpoints/setup.rs
  code/backend/src/endpoints/users.rs
  code/backend/src/endpoints/vpn.rs
  code/backend/src/services/proxy.rs
  code/backend/src/services/security.rs
  code/frontend/eslint.config.js
Due: cargo-fmt, frontend-lint

fix: reduce proxy handler extractors to fix Handler trait bound
  code/backend/src/endpoints/proxy.rs
Due: cargo-fmt

fix: restructure proxy handlers to use single Request extractor
  code/backend/src/endpoints/proxy.rs
Due: cargo-fmt

fix: correct import ordering and remaining old route syntax
  code/backend/src/endpoints/proxy.rs
  code/backend/src/endpoints/vpn.rs
Due: cargo-fmt

fix: remove unused imports in proxy endpoint
  code/backend/src/endpoints/proxy.rs
Due: cargo-fmt

fix: import JSX namespace for TypeScript 5.x compatibility
  code/frontend/src/pages/AppsPage.tsx
Due: frontend-lint

fix: migrate to Tailwind CSS 4 with @tailwindcss/vite plugin
  code/frontend/package-lock.json
  code/frontend/package.json
  code/frontend/postcss.config.js
  code/frontend/src/index.css
  code/frontend/vite.config.ts
Due: frontend-lint

feat: pull Helm charts from OCI registry at runtime
  .github/workflows/build.yml
  .github/workflows/e2e-tests.yml
  .gitmodules
  code/backend/Cargo.lock
  code/backend/src/application/bootstrapper.rs
  code/backend/src/application/config.rs
  code/backend/src/application/config/auth.rs
  code/backend/src/application/config/charts.rs
  code/backend/src/application/config/database.rs
  code/backend/src/application/config/kubernetes.rs
  code/backend/src/application/config/mod.rs
  code/backend/src/application/config/server.rs
  code/backend/src/application/database.rs
  code/backend/src/application/state.rs
  code/backend/src/endpoints/apps.rs
  code/backend/src/endpoints/auth.rs
  code/backend/src/endpoints/mod.rs
  code/backend/src/endpoints/oauth.rs
  code/backend/src/services/catalog.rs
  code/backend/src/services/chart_sync.rs
  code/backend/src/services/deployment.rs
  code/backend/src/services/k8s.rs
  code/backend/src/services/mod.rs
  code/backend/src/services/scheduler.rs
  code/backend/src/services/security.rs
  docker/Dockerfile.backend
Due: cargo-fmt
